{% extends 'base.html' %}

{% block stylesheet %}

{% endblock %}

{% block navbar %}
{% include 'partials/navbar_index.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid" id="over">
    <div class="row justify-content-center align-items-center" id="big-text">
        <div class="col-6">
            <h1 id="main-text">Welcome to <br>Fridge Door</h1><br>
            {% if not user.is_authenticated %}
            <a class="btn btn-primary btn-lg" href="{% url 'counter:signup' %}">Sign Up</a>
            <a class="btn btn-primary btn-lg" href="{% url 'counter:login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}